/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property 
AnchorPane{
	-fx-background-image: url("https://ak5.picdn.net/shutterstock/videos/12319925/thumb/1.jpg") 
}
* */

PasswordField{
	-fx-background-color: transparent;
}
Button, TextField, ComboBox {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 25;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.85) , 2, 0.1 , 0 , 1 );
}
Button:hover{
    -fx-background-color: 
        #deeded,
        linear-gradient(#d6d6d6 40%, white 100%),
        radial-gradient(center 50% -40%, radius 190%, #e6e6e6 45%, rgba(230,230,230,0) 60%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: #c3c4c4;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.48) , 3, 0.0 , 0 , 5 );
}

.loginTextField{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.menuButton{
    -fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-pref-width: 195;
	-fx-pref-height: 26;
}
.menuButton:hover{
	 -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-opacity: 50%;
    -fx-background-insets: 0;
    -fx-text-fill: #2196f3;
    
}