/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property 
AnchorPane{
	-fx-background-image: url("https://ak5.picdn.net/shutterstock/videos/12319925/thumb/1.jpg") 
}
* */
.menuButton{
    -fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-pref-width: 195;
	-fx-pref-height: 26;
}
.menuButton:hover{
	 -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-opacity: 50%;
    -fx-background-insets: 0;
    -fx-text-fill: #2196f3;
    
}
TextField{
	-fx-background-color: transparent;
}
PasswordField{
	-fx-background-color: transparent;
}